<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <br/><br/>
    <form class="form-signin" method="post" style="width:30%;margin:auto" th:action="@{/login}">
        <h3 class="form-signin-heading">LOGIN PAGE</h3>

        <br/>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Username or password is invalid</p>
        </div>

        <input type="text" name="username"  th:placeholder="Username"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>

        <div class="margin-top20 text-center"> Don't have an account? <a th:href="@{/signup}">Create an account</a></div>
    </form>
</div>
</body>